<script src="/public/js/addAnswer.js"></script>

<h3>Answer the question</h3>
<form id="answer-form" method="POST">
    <label for="answer">Answer:</label>
    <input type="text" id="answer" name="answer" required>
    <button type="submit" class="btn btn-dark submit-btn" data-question-id="{{_id}}">Submit</button>
</form>