<script src="/public/js/addQuestion.js"></script>

<h3>Ask a question for product</h3>
<form id="question-form" method="POST">
    <label for="question">Question:</label>
    <input type="text" id="question" name="question" required>
    <button type="submit" class="btn btn-dark submit-btn" data-product-id="{{_id}}">Submit</button>
</form>