<script src="../../public/js/qna.js"></script>

<h3>Ask a question for product</h3>
    <form id="question-form" method="POST">
        <label for="question">Question:</label>
        <input type="text" id="question" name="question" required>

        <input type="submit" value="Submit">
    </form>
