<div class="admin-page">
    <div class="container text-center">
        <ul>
            <li>
                <a href="admin/addproduct">Add Product</a>
            </li>
            <li>
                <a href="admin/updateproduct">Update/Delete Product</a>
            </li>
        </ul>
    </div>
</div>