<article>
    <ul>
        <li><a href="/admin/addProduct">Add Product</a></li>
        <li><a href="/admin/updateProduct">Update Product</a></li>
        <li><a href="/admin/removeProduct">Remove Product</a></li>
        <li><a href="/admin/checkUsers">Users List</a></li>
    </ul>
</article>

<script src="/public/js/admin.js"></script>