<article>
    <ul>
        <li><a href="/admin/add">Add</a></li>
        <li><a href="/admin/update">update</a></li>
        <li><a href="/admin/remove">remove</a></li>
    </ul>
</article>

<script src="/public/js/admin.js"></script>