.nav-link {
  color: rgb(255, 255, 255);
}

.signup-page .container {
  background-color: rgb(238, 238, 238);
  max-width: 40%;
  padding: 10px;
}

.signup-page .signup-url {
  color: rgb(44, 0, 146)
}

.signup-page .form-group .form-control {
  width: 100%;
}

.signup-page .error {
  background-color: rgb(249, 111, 111);
}



.popular-prod-div-row {
  overflow-x: auto;
  padding-left: 10px;
  padding-right: 10px;
  max-height: min-content;
}

.popular-prod-div-col {
  padding: 10px;
  height: 400px;
}

.compareDiv {
  background-color: rgb(182, 182, 182);
  padding: 10px;
}

.compareDivRow {
  width: min-content;
}

.compareDivRow col {
  max-width: min-content;
}


.add-product .product-add-form .spec-div-laptops {
  display: none;
}

.add-product .product-add-form .spec-div-phones {
  display: none;
}

.add-product .product-add-form .spec-div-tablets {
  display: none;
}

.add-product .error-div {
  background-color: rgb(249, 111, 111);
}

.update-product .product-update-form .update-inputs {
  display: none;
}

.update-product .product-update-form .spec-div-laptops {
  display: none;
}

.update-product .product-update-form .spec-div-phones {
  display: none;
}

.update-product .product-update-form .spec-div-tablets {
  display: none;
}

.update-product .error-div {
  background-color: rgb(249, 111, 111);
}



#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
  /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  /* Footer height */
}

/* [data-theme="dark"]{
  background-color: #111 !important;
  color: #eee;
} */

/* body > *{
  background-color: #111 !important;
  color: #eee;
}

.card footer{
  background-color: #111 !important;
  color: #eee;
}

p, h1, h2, h3, h4, h5, h6{
  background-color: #111 !important;
  color: #eee;
} */

/* body{
  background-color: rgb(8, 7, 25);
  color: aliceblue;
}

p, h1, h2, h3, h4, h5, h6{
  color: aliceblue;
} */