<form class="mx-auto" action="/api/reviews/{{_id}}" method="POST" enctype="multipart/form-data">
  <div class="form-group">
    <label for="reviewTitle">Title</label>
    <input type="text" class="form-control" id="reviewTitle" name="reviewTitle" placeholder="Enter review title">
  </div>
  <div class="form-group">
    <label for="reviewText">Review</label>
    <textarea class="form-control" id="reviewText" name="reviewText" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label for="reviewPhoto">Photo</label>
    <input type="file" class="form-control-file" name="reviewPhoto" id="reviewPhoto">
  </div>
  <div class="form-group">
    <label for="ratingSelect">Rating</label>
    <select class="form-control" id="ratingSelect" name="rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
