<div class="signup-page">
  <div class="container text-center">
    <h3>User Profile</h3>
    <form id="user-form" method="POST">

      <div class="form-group">
        <label for="firstName">First Name
          <input
            class="form-control"
            type="text"
            id="firstName"
            
            name="firstName"
          />
        </label>
      </div>

      <div class="form-group">
        <label for="lastName">Last Name
          <input
            class="form-control"
            type="text"
            id="lastName"
            
            name="lastName"
          />
        </label>
      </div>

      <div class="form-group">
        <label for="email">Email ID
          <input
            class="form-control"
            type="text"
            id="email"
            
            name="email"
          />
        </label>
      </div>

      <div class="form-group">
        <label for="gender">Gender
          <select
            class="form-control"
            id="gender"
           
            name="gender"
          >
            <option value="man">Man</option>
            <option value="woman">Woman</option>
            <option value="transgender">Transgender</option>
            <option
              value="non-binary/non-conforming"
            >Non-binary/Non-conforming</option>
            <option value="prefer not to respond">Prefer not to respond</option>
          </select>
        </label>
      </div>

      <div class="form-group">
        <label for="currentpassword">Current Password
          <input
            class="form-control"
            class="form-control"
            type="password"
            id="currentpassword"
           
            name="currentpassword"
          />
        </label>
      </div>

      <div class="form-group">
        <label for="newpassword">New Password
          <input
            class="form-control"
            type="password"
            id="newPassword"
            
            name="newPassword"
          />
        </label>
      </div>

      <div class="form-group">
        <label for="passwordConfirm">Confirm Password
          <input
            class="form-control"
            type="password"
            id="passwordConfirm"
            name="passwordConfirm"
          />
        </label>
      </div>

      <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>

    <div id="errorDiv" class="error hidden">
      <ul id="errorlist">
      </ul>
    </div>

    <script src="/public/js/userprofile.js"></script>
  </div>
</div>