<article class="product-compare-list">

  <div class="header text-center">
    <h1>Compare products</h1>
  </div>

  {{#if products}}
  <div class="container result-container">
    {{#each products}}
    <div class="row row-striped">
      {{#each this}}
      <div class="col">
        {{this}}
      </div>
      {{/each}}
    </div>
    {{/each}}
  </div>
  {{/if}}


  {{#if error}}
  <div class="error">
    {{error}}
  </div>
  {{/if}}

  <link rel="stylesheet" href="../../public/css/compareproducts.css" />
</article>