<body>
        <div class="container">
            <h1 class="display-1">LookUpDevice</h1>
            <p class="lead">
                We understand the difficulty of having to choose between two devices that cost and sound nearly identical. To assist our users in making their decision, we propose a website that allows users to search for devices, find information and reviews on them and perform a detailed comparison if they must choose between two devices based on specifications, cost, and ratings.
            </p>
        </div>
        <div class="input-group">
            <input type="search" class="form-control rounded" placeholder="Search LookUpDevice" aria-label="Search" aria-describedby="search-addon" id="searchbar"/>
            <button type="button" class="btn btn-outline-primary" id="searchbtn">search</button>
        </div>
        <div id="error" class="alert alert-danger" role="alert" hidden>
            <p class="col-sm-12" id="error-p"></p>
        </div>
        <div class="col-sm-12" id="search-result">
            <div class="col-md-12" id="product-list"></div>
        </div>
        <div id="popular-products-div" class="col-sm-12">
        </div>
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
        <script src="/public/js/homepage.js"></script>
    </body>